body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.square {
  display: flex;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 5px solid black;
  font-size: 7em;
  justify-content: center;
  align-items: center;
}

.square:active {
  background-color: #31F9CB;
}

.square:hover {
  cursor: pointer;
  background-color: #80cd92;
}
